body{
    background-color: rgb(168, 161, 161)
}

header{
    height: 50px;
    border-radius: 40px;
background-color: #808080;
}

.box1{
    border: solid 2px #0f0f0f;
    height: 80px;
    width: 320px;
    background-color: #a52a2a;
}

.box2{
    height: 80px;
    width: 320px;
    background-color: #8a2be2;
    border-radius: 45%;
}

.box3{
    height: 80px;   
    width: 320px;
    background-color: #d2691e;
    border: dotted 2px #9c8383;
}

.box4{
    height: 80px;
    width: 320px;
    background-image: linear-gradient(to left,#000000,#ffff00);
    border:solid 2px #000000;
}