<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Cadastro Realizado</title>
<link rel="stylesheet" href="/sucesso.css" />
</head>
<body>
<div class="container sucesso-container">
<h2>Cadastro Realizado com Sucesso!</h2>
<p>Seu cadastro foi concluído e seus dados foram registrados no sistema.</p>


<div class="sucesso-icone">✔</div>


<a href="/" class="btn-voltar">Voltar para o Início</a>
</div>
</body>
</html>