* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}


body {
background: #eef1f7;
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
}


.container {
width: 100%;
max-width: 420px;
padding: 20px;
}


.form-cadastro {
background: #fff;
padding: 25px;
border-radius: 10px;
box-shadow: 0 4px 15px rgba(0,0,0,0.1);
display: flex;
flex-direction: column;
gap: 15px;
}


.form-cadastro h1 {
text-align: center;
margin-bottom: 10px;
color: #333;
}


label {
font-weight: bold;
color: #444;
}


input {
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
font-size: 15px;
}


input:focus {
outline: none;
border-color: #4A6CF7;
box-shadow: 0 0 5px rgba(74,108,247,0.3);
}


.btn {
padding: 12px;
background: #4A6CF7;
color: white;
border: none;
font-size: 16px;
border-radius: 6px;
cursor: pointer;
transition: 0.3s;
}


.btn:hover {
background: #3652d5;
}

.ver-emails {
    margin-top: 20px;
    text-align: center;
}

.btn-emails {
    padding: 12px 20px;
    background-color: #6c63ff;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    border-radius: 6px;
    display: inline-block;
    transition: 0.3s ease;
}

.btn-emails:hover {
    background-color: #5751d6;
}